In [1]:
###single line comments work in both jupiter notbook and python files but multi line comments does not work in jupiter notebook
##case sentivity-Python is case sensitive

name="palak"
Name="malik"

print(name)
print(Name)

palak
malik

In [ ]:
#indentation
#python uses indentation to define blocks of code .Consistent use of spaces(commonly 4) or a tab is required
#basically without using {},we are specifying that how and when conditions will imply

age=22
if age>30:
    print("yes")
else:
    print("no")

no

In [20]:
 #line continuation
#i can make use of a backslash to continue the statement to a next line
total=1+2+3+4+5+6+7+\
4+5+6
print(total)

43

In [21]:
##Multiple statements on a single line
x = 5
y = 10
z = x + y
print(z)

15

In [22]:
#variables
age=32
nmame="palku" #name is a string

#for knowing it's type
type(age)
type(name)

str

In [24]:
#type inference
variable=10
print(type(variable))
variable="palak"
print(type(variable))

<class 'int'>
<class 'str'>

In [33]:
#indentation error
age=32
if age>30:
print(age)

IndentationError: expected an indented block after 'if' statement on line 3 (2638044780.py, line 4)

In [31]:
#name error
a=b  ##if b not declared it will give error

In [ ]:
#code example of indentation
if True:
    print("Correct Indentation")
    if False:
        print("This one print")
    print("This will print")
print("Outside the if block")

Correct Indentation
This will print
Outside the if block

In [34]:
a=100

In [36]:
#declaring and assigning variables
age=32
height=6.1
name="palak"
is_student=True
#printing variables
print("age :",age)
print("Height:",height)
print("Name:",name)

age : 32
Height: 6.1
Name: palak

In [37]:
#Naming conventions
#variables names should be descriptive
#they must start with a letter or an '_' and contains letter,numbers and underscores
#variables names case sensitive

#valid variable names

first_nam="palak"
last_name="malik"

In [40]:
#invalid variable names
#2age=30
#first-name="palak"
#@name="palak"

In [41]:
#case sestivity
age=25 #int
height=6.7 #float
name="krish" #str
is_student=True #bool
print(type(name))

<class 'str'>

In [44]:
#type checking and conversion
type(height)
print(type(age))

#type conversion
age_str=str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

In [45]:
#dynamic typing
#python allows the type of a variable to change as the program executes
var=10 #int
print(var,type(var))

var="Hello"

print(var,type(var))

10 <class 'int'>
Hello <class 'str'>

In [ ]:
age=input("what is age")
print(age)
#conversion
age=int(input("what is age"))
print(age)

5

In [47]:
##Integer example
age=35
type(age)

int

In [49]:
#floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [51]:
#boolean datatype
type(True)

bool

In [5]:
#operators
#arithmetic operators
a=10
b=15
result=a+b
sres=a-b
mres=a*b
dres=a/b
fres=a//b
modres=a%b
expo=a**b
print(result)
print(sres)
print(mres)
print(dres)
print(expo)
print(fres)
print(modres)

25
-5
150
0.6666666666666666
1000000000000000
0
10

In [6]:
#comparison operators
# == 
a=10
b=10
a==b

True

In [7]:
str1="krish"
str2="Krish"
str1==str2

False

In [8]:
#greater than
n1=45
n2=55
n1>n2

False

In [10]:
#greater than or equal to
n1=45
n2=45
n1>=n2

True

In [1]:
#logical operators
##AND , NOT, OR

x=True
y=False
res=x and  y
print(res)

False