FUNCTIONS IN PYHTON

function is a block of code which performs a specific task and it helps in organizing code ,reusing code and improving readibility.

In [ ]:
##syntax 
def function_name(parameters):
    """Docstring"""
    #funtion body
    return expression

In [ ]:
#why functions?
#we do not have to create function again and again ,we can just use it again by calling that function name
def eve_or_odd(num):
    if num%2==0:
        print("num is even")
    else:
        print("num is odd")

In [2]:
eve_or_odd(2134)

num is even

In [5]:
#function with multiple parameters
def add(a,b):
    return a+b
result=add(2,4)
print(result)

6

In [3]:
#default parameters
def greet(name="guest"):
    print("hello {name}")

greet()

hello {name}

In [4]:
##variable length arguments
##positional and keywords argumnets

def print_numbers(*palak):
    for numbers in palak:
        print(numbers)

In [5]:
print_numbers(1,2,3,4,5,6,7,8,"palak")

1
2
3
4
5
6
7
8
palak

In [ ]:
#positional arguments
def print_numbers(*args):
    for number in args:
        print(number)

In [6]:
##keywords arguments
#given by double star
def print_val(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [7]:
print_val(name="palak",age="23",country="India")

name:palak
age:23
country:India

In [9]:
##return statement
def nulti(a,b):
    return a*b,a
nulti(2,3)

(6, 2)

LAMBDA FUNCTIONS IN PYHTON

lambda functions are small anonymous functions defined using lambda keyword.They can have any number of arguments but only one expression.They are commonly used for short operations or as arguments to higher order functions.

In [ ]:
#syntax
lambda arguments: expression

In [10]:
def addition(a,b):
    return a+b

In [11]:
addition(2,3)

5

In [13]:
#use of lambda
additions=lambda a,b:a+b
print(type(additions))
print(additions(2,4))

<class 'function'>
6

In [14]:
check=lambda num:num%2==0
print(check(24))

True

In [16]:
addition1=lambda x,y,z:x+y+z
print(addition1(2,4,5))

11

In [ ]:
##map()
#it applies function call to all the items
numbers=[1,2,3,4,5,60]
def square(numbers):
    return numbers**2
square(2)

4

In [18]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 3600]

MAP

the map() function applies to a given function to all items in an input list and returns a map object (an iterator). This is particularly useful for transforming data in a list comprehensively.

In [19]:
def square(x):
    return x*x
square(4)

16

In [21]:
numbers=[1,2,3,4,5,6,7,8,9]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
#lambda function with map
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
#map miltiple iterables
n1=[1,1,2,3]
n2=[4,5,6,7]
added=list(map(lambda x,y:x+y,n1,n2))
print(added)

[5, 6, 8, 10]

In [25]:
#string to integer
strr=['1','2']
inti=list(map(int,strr))
print(inti)

[1, 2]

In [26]:
words=['apple']
upper_W=list(map(str.upper,words))
print(upper_W)

['APPLE']

In [28]:
def get_name(person):
    return person['name']
people=[
    {'name':'palak','age':21},
    {'name':'rita','age':21}
]
list(map(get_name,people))

['palak', 'rita']

FILTER FUNCTION

filter() function constructs an iterator from elements of an iterable which a function returns true,it is used to filter out items from a list based on condition.

In [29]:
def even(num):
    if num%2==0:
        return True

In [30]:
even(24)

True

In [31]:
lst=[91,2,3,4,56,7,8,9]
list(filter(even,lst))

[2, 4, 56, 8]

In [33]:
#filter with a lambda function
n=[1,2,3,4,5,6,7,8,9]
greaters=list(filter(lambda x:x>5,n))
print(greaters)

[6, 7, 8, 9]

In [34]:
#filter with lambda and multiple conditions
numbers=[1,2,3,4,5,6,7,8,9,10]
eve=list(filter(lambda x:x>5 and x%2==0,numbers))
print(eve)

[6, 8, 10]

In [35]:
#filter to check if age is greater than 25 in dictionaries
people=[
    {'name':'palak','age':12},
    {'name':'palak','age':32},
    {'name':'palak','age':22}

]
def age_g(person):
    return person['age']>20
list(filter(age_g,people))

[{'name': 'palak', 'age': 32}, {'name': 'palak', 'age': 22}]

filter() function is powerful in creating iterators that filter item fout of iterators based in function.