LISTS

In [ ]:
#ordered,mutable(changable) collection of items
#contain diff data types

In [ ]:
lst=[1,2,3,4,5]
print(type(lst))
print(lst[0])

<class 'list'>
1

In [3]:
l=[1,2,3,4,"palak","prisha"]
print(l)

[1, 2, 3, 4, 'palak', 'prisha']

In [3]:
#accessing list elements
fruit=["apple","banana","cherry"]
print(fruit[0])
#in python indexing starts from 0

apple

In [4]:
#if you give -1 ,it will access last element
print(fruit[-1])

cherry

In [5]:
#for accessing from any to last
print(fruit[1:])

['banana', 'cherry']

In [6]:
#for changing elements
fruit[1]="watermelon"
print(fruit)

['apple', 'watermelon', 'cherry']

In [7]:
#add an item to end
fruit.append("orange")
#for adding at perticular index
fruit.insert(1,"kiwi")
print(fruit)

['apple', 'kiwi', 'watermelon', 'cherry', 'orange']

In [8]:
fruit.remove("kiwi")
print(fruit)

['apple', 'watermelon', 'cherry', 'orange']

In [9]:
#remove and return last element
f_p=fruit.pop()
print(f_p)
print(fruit)

orange
['apple', 'watermelon', 'cherry']

In [10]:
#for getting index of element
index=fruit.index("cherry")
print(index)

2

In [12]:
fruit.insert(2,"litchi")
print(fruit)

['apple', 'watermelon', 'litchi', 'cherry']

In [13]:
fruit.sort()
fruit

['apple', 'cherry', 'litchi', 'watermelon']

In [16]:
fruit.reverse()
fruit

['watermelon', 'litchi', 'cherry', 'apple']

In [18]:
#SLICING LIST
number=[1,2,3,4,5,6,7,8,9]
print(number[:5])
print(number[5:])
print(number[::2])
print(number[::-2])

[1, 2, 3, 4, 5]
[6, 7, 8, 9]
[1, 3, 5, 7, 9]
[9, 7, 5, 3, 1]

In [19]:
##Iterating over lists
for nu in number:
    print(nu)

1
2
3
4
5
6
7
8
9

In [20]:
##iterating wiyth index
for index,nu in enumerate(number):
    print(index,nu)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [21]:
#list comprehension
ls=[]
for x in range(9):
    ls.append(x**2)
print(ls)

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [22]:
#short form of doing above code
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
basic syantax          [expression for item in iterable]

with conditional logic  [expression for item in iterable if condition]

Nested list operation       [expression for item1 in iterable1 for item2 in iterable2]

In [25]:
#basic list comprehension
square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
##list with condition
ls=[]
for i in range(10):
    if i%2==0:
        ls.append(i)

print(ls)

[0, 2, 4, 6, 8]

In [27]:
#using basic condition
lss=[num for num in range(10) if num%2==0]
print(lss)

[0, 2, 4, 6, 8]

In [29]:
#nested list comprehension
lst=[1,2,3,4,5]
lst2=['a','b','c','d']
pair=[(i,j) for i in lst for j in lst2]
print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd'), (5, 'a'), (5, 'b'), (5, 'c'), (5, 'd')]

In [30]:
#list comprehension with function calls
words=["hello","world","python"]
lengths=[len(word) for word in words]
print(lengths)

[5, 5, 6]

#tuples

In [33]:
empty_t=()
print(empty_t)
print(type(empty_t))

()
<class 'tuple'>

In [34]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [35]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [36]:
nu=list[(1,2,3,4,5)]
nu

list[1, 2, 3, 4, 5]

In [37]:
mixed_tuple=(1,"hello",True)
mixed_tuple

(1, 'hello', True)

In [38]:
#accessing tuple elements
print(numbers[2])

3

DICTIONARIES AND TUPLE ALSO WORK LIKE THIS ONLY ,HAS SAME FUNCTIONS ONLY